blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
docx2txt==0.8
Flask==2.3.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.0
MarkupSafe==3.0.2
psutil==6.0.0
PyPDF2==3.0.1
python-docx==0.8.11
requests==2.31.0
urllib3==2.5.0
Werkzeug==2.3.7
pdfplumber==0.11.0
ollama==0.3.3
pypdf==4.3.1
weasyprint==62.3
reportlab==4.2.2
